<h1><%= post.user.username %>'s Post</h1>
<p><%= post.content %></p>
<p>Likes: <%= post.likes %></p>

<h3>Comments</h3>
<ul>
  <% post.comments.each do |comment| %>
    <li><%= comment.content %> - <strong><%= comment.user.username %></strong></li>
  <% end %>
</ul>
