<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.user.username %>:</h3>
    <p><%= post.content %></p>
    <p>Comments: <%= post.comments.count %> | Likes: <%= post.likes.count %></p>
    <%= link_to "View Post", post_path(post) %>
  </div>
<% end %>
